.admin-container {
    display: flex;
    height: 100%;

    .admin-content {
        padding: 10px;
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: 1px solid green;
        }

        .admin-main {
            box-sizing: border-box;
            margin: 20px;
            height: calc(100vh - 100px);
            .user-pagination {
                display: flex;
                justify-content: center;
            }

            .title {
                margin: 10px 0;
                font-weight: 500;
                font-size: 24px;
            }

            .manage-user-container {
                .users-content {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .dashboard-container {
                margin: 0px;
            }
        }
    }
}