.btn-login {
    border-radius: 5px;
    margin: 0 15px;
    padding: 0 15px;
    border: 1px solid #535353;
    height: 40px;
}

.btn-signup {
    border-radius: 5px;
    padding: 0 15px;
    background: #303030;
    color: white;
    height: 40px;
    border: none;
}