.app-container {
    .header-container {
        .navbar-nav {
            z-index: 10;
            background-color: rgba(0,0,0,0) !important;


            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }
}